$soft_red: #fe7867
$yellow: #fad400
$dark_desaturated_cyan: #25564b //graphic design text
$dark_blue: #19536b // photography text
$dark_moderate_cyan: #458c7e //footer
$very_dark_desaturated_blue: #252f3b
$very_dark_grayish_blue: #888892
$dark_grayish_blue: #b2b1b0
$grayish_blue: #a7abae
$white: #ffffff
$font_size: 18px
$font_family_primary: 'Barlow', sans-serif
$font_family_secondary: 'Fraunces', serif
$padding: 40px

*
  box-sizing: border-box
  padding: 0
  margin: 0
  outline: 0

  &::after, &::before
    box-sizing: border-box
    padding: 0
    margin: 0
    outline: 0

html,
body
  height: 100%
  background: $white
  text-align: center
  font-family: $font_family_primary
  font-size: $font_size
  line-height: 24px
  color: $dark_grayish_blue
  

#toggle-nav
  display: none

  + label
    display: block
    width: 23px
    height: 20px
    z-index: 1
    cursor: pointer
    grid-area: c-toggle

    &:hover
      opacity: .6

    &:active
      opacity: .8

  &:checked
    + label
      + .main-nav
        display: flex
        gap: 29px
        flex-direction: column
        width: 100%
        height: 100%
        background: $white
        text-align: center
        padding: 40px
        animation: slideBottom 1s ease 0s 1 normal forwards

.content
  height: 100%
  display: grid
  grid-template-areas: "c-head" "c-main" "c-footer"
  grid-template-rows: auto 1fr auto
  grid-template-columns: 1fr

p
  line-height: 28px
  font-size: 18px
  padding-top: 7px
  font-family: $font_family_primary

img
  max-width: 100%

.main
  &-content
    margin: 0 auto
    grid-area: c-main
    width: 100%

  &-header
    grid-area: c-head
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(3, auto)

    .logo
      grid-area: c-logo

  &-menu
    grid-column: 1
    grid-row: 1/2
    z-index: 3
    padding: 25px
    text-align: left

    display: grid
    row-gap: 26px
    justify-content: space-between
    align-items: center
    justify-content: space-between
    align-items: center
    grid-template-areas: "c-logo c-toggle" "c-menu c-menu"
    grid-template-columns: 1fr
    grid-template-rows: 1fr auto
    gap: 45px
    
  &-nav
    display: none
    grid-area: c-menu
    position: relative

    &::before
      content: ""
      position: absolute
      display: block
      width: 30px
      height: 34px
      right: 0
      top: -30px
      border-top: 0
      border-left: 30px solid transparent
      border-right: 0
      border-bottom: 30px solid transparent
      border-bottom-color: $white
    
    a
      color: $very_dark_grayish_blue
      font-size: 19px
      line-height: 27px

      &:hover
        color: darken($very_dark_grayish_blue, 30%)

  &-footer
    grid-area: c-footer
    background-color: #90d4c5
    display: grid
    grid-template-areas: "c-logo" "c-nav" "c-social"
    grid-template-rows: 1fr 1fr .5fr
    padding: 57px 20px 85px

    .logo
      grid-area: c-logo
      display: block
      margin: 0 auto
      padding: 8px 30px 20px 19px

      img
        filter: brightness(0) saturate(80%) invert(26%) sepia(44%) saturate(292%) hue-rotate(116deg) brightness(154%) contrast(160%)
        display: block

    a
      &:hover
        color: $white
        transition: color .5s

.hero
  grid-column: 1
  grid-row: 1/4
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: repeat(3, 1fr)

  h1
    grid-column: 1
    grid-row: 2/3
    z-index: 1
    color: white
    font-size: 43px
    line-height: 50px
    text-transform: uppercase
    font-family: $font_family_secondary
    font-weight: 900
    font-style: normal
    letter-spacing: 4px
    white-space: pre-line
    margin-top: -41px

  .banner
    grid-column: 1
    grid-row: 1/4
    margin-top: -9px

    img
      height: 100%
      object-fit: cover
      width: 100%
  
  .icon
    grid-column: 1
    grid-row: 2/4
    padding-top: 108px
    animation: slideBottomDeep 1s ease 0s 1 normal forwards

.cta-text-box
  .text
    padding: 50px 30px 66px

    h2
      margin-bottom: 20px
      color: $very_dark_desaturated_blue
      font-family: $font_family_secondary
      font-weight: 900
      font-size: 33px
      padding-top: 8px
      line-height: 38px

    p
      color: #86858a

  &:first-child
    .cta-link
      &::after
        background-color: #fdf1b7

      &:hover
        &::after
          background-color: $yellow

a
  text-decoration: none

  &.cta
    &-link
      color: $very_dark_desaturated_blue
      font-family: $font_family_secondary
      font-weight: 900
      text-transform: uppercase
      display: block
      margin-top: 40px
      font-size: 16px

      &::after
        content: ''
        display: block
        height: 8px
        width: 123px
        margin: -9px auto -5px
        border-radius: 6px
        background-color: #fedad4

      &:hover
        &::after
          background-color: $soft_red

    &-contact
      background-color: #fad400
      width: 140px
      height: 57px
      display: block
      margin: 0 auto
      padding: 10px
      border-radius: 31px
      color: $very_dark_desaturated_blue 
      font-family: $font_family_secondary
      font-style: normal
      font-weight: 900
      text-transform: uppercase 
      font-size: 15px
      line-height: 37px
      text-align: center

      &:hover
        background-color: lighten($yellow, 10%)

.banner
  &-text-box
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(3, 1fr)

    .banner
      grid-column: 1/1
      grid-row: 1/4

      img
        height: 100%
        object-fit: cover
        width: 100%

    .text
      grid-column: 1/1
      grid-row: 3/4
      padding: 0 20px

    h2
      font-family: $font_family_secondary
      font-weight: 900
      margin-bottom: 20px
      text-transform: capitalize

  &-green
    color: $dark_desaturated_cyan

  &-blue
    color: $dark_blue

.testimonial
  &-container
    padding: 52px 40px 0
    display: grid
    gap: 51px

    h2
      font-family: $font_family_secondary
      letter-spacing: 4px
      text-transform: uppercase
      color: $grayish_blue
      font-size: 17px

    p
      padding-top: 2px
      font-size: 17px
      line-height: 31px
      color: #505358

  &-item
    display: block
    border-radius: 50%
    margin: 0 auto 71px

    @for $i from 1 through 3
      &:nth-of-type(n + #{$i})
        animation: scaleUp ($i * .5s) ease 0s 1 normal forwards

    .avatar
      img
        display: block
        border-radius: 50%
        margin: 13px auto 30px

    .description
      color: #666769

    .title
      display: block
      font-family: $font_family_secondary
      font-weight: 900
      margin-top: 34px
      margin-bottom: 6px
      color: $very_dark_desaturated_blue

    .subtitle
      font-size: 14px
      line-height: 21px

.gallery
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  padding-top: 20px

  img
    height: 100%
    object-fit: cover
    display: block

.footer-nav
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  grid-area: c-nav
  padding: 0 0 57px
  gap: 18px

  a
    color: #4b8f80
    font-size: 18px

.social
  &-links
    display: flex
    flex-wrap: wrap
    gap: 17px
    justify-content: space-evenly
    align-items: center
    grid-area: c-social
    padding: 30px 76px 0 72px
    
  &-item
    color: $dark_desaturated_cyan

    &:hover
      img
        filter: brightness(100)
        transition: all 1s

@keyframes slideBottom
  0%
    opacity: .5
    transform: translateY(-20px)

  100%
    opacity: 1
    transform: translateY(2px)

@keyframes slideBottomDeep
  0%
    opacity: .5
    transform: translateY(-100px)

  100%
    opacity: 1
    transform: translateY(2px)

@keyframes scaleUp
  0%
    transform: scale(.5)

  100%
      transform: scale(1)

@media screen and ( min-width: 768px)
  #toggle-nav
    + label
      display: none

  .main
    &-footer
      padding-bottom: 56px

    &-nav
      display: flex
      justify-content: end
      gap: 50px
      align-items: center

      &:before
        display: none

    &-menu
      grid-template-areas: "c-logo c-menu"
      grid-template-rows: 1fr
      grid-template-columns: auto 1fr
      padding: 34px 50px 10px 40px

      .logo
        img
          width: 174px

      a
        color: $white

        &:hover
          color: $white
          opacity: .7
          transition: opacity .5

  a
    &.cta
      &-link
        &::after
          margin-left: 0
          margin-right: 0

      &-contact
        margin: 0
        background-color: $white
        color: $very_dark_desaturated_blue

        &:hover
          background-color: #6bd1ff
          opacity: 1
          transition: all .5s

  .cta
    &-text-box
      display: grid
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr
      align-items: center

      .banner
        grid-area: c-banner
        height: 100%

        img
          display: block
          width: 100%
          height: 100%
          object-fit: cover

      .text
        grid-area: c-text
        text-align: left
        padding: 50px 40px 66px

        h2
          font-size: 40px
          line-height: 50px
          white-space: pre-line
          padding-top: 24px
          margin-top: 0
          margin-bottom: 5px

        p
          padding-top: 27px

      &:first-of-type
        grid-template-areas: "c-text c-banner"
        
      &:nth-of-type(2)
        grid-template-areas: "c-banner c-text"

        .text
          padding: 50px 40px 66px

    &-link
      margin-left: 11px

  .banner
    &-text
      &-container
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
        align-items: center

      &-box
        grid-template-rows: 1fr

        .text
          padding: 0 10% 40px

        h2
          font-size: 28px
          line-height: 32px

        p
          font-size: 16px
          line-height: 28px
          padding-top: 10px

  .testimonial
    &-container
      max-width: 1220px
      margin: 0 auto
      padding: 160px 40px 94px

      h2
        font-size: 22px

      .description
        padding-top: 29px
        font-size: 18px
        line-height: 33px

    &-grid
      display: grid
      grid-row: 1fr
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
      gap: 30px
      padding: 18px

    &-item
      margin: 0 auto 0

      .title
        padding-top: 29px
        font-size: 18px
        line-height: 28px
        margin-left: -10px
  
  .gallery
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    grid-template-rows: minmax(450px, 1fr)

    img
      width: 100%

  .footer-nav
    justify-content: center
    gap: 58px
    padding: 0 0 27px

  .social
    &-links
      justify-content: center
      gap: 28px
      padding-top: 48px

  .hero
    h1
      white-space: normal
      font-size: 50px
      letter-spacing: 7px
      margin-top: 44px

    .icon
      padding-top: 160px

@media screen and ( min-width: 1220px)
  p
    white-space: pre-line

  .banner
    &-text
      &-box
        grid-template-rows: repeat(3, 1fr)

        .text
          padding: 0 150px

  .cta
    &-text-box
      .text
        padding: 50px 40px 66px 163px

      &:nth-of-type(2)
        .text
          padding: 50px 109px 66px

  .hero
    h1
      font-size: 60px
      margin-top: -60px

    .icon
      padding-top: 91px 

  .testimonial
    &-grid
      grid-template-columns: repeat(3, 1fr)
      gap: 30px

    &-container
      padding-bottom: 146px

  .gallery
    padding-top: 0